@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'Baliana';
    src: url('../assets/fonts/Baliana.otf') format('truetype');
}

body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

body.disable-scroll {
    overflow: hidden;
}

.card-cover {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    background-image: url('../assets/img/foto-1.jpg');
    background-size: cover;
    background-position: top center;

}

.card-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.756); */
}

.card-cover>* {
    position: relative;
    z-index: 2;
}

.content-cover {
    position: relative !important;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px !important;
    box-sizing: border-box;
    justify-content: center !important;
    box-shadow: 0 4px 8px rgba(46, 48, 90, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: clip-path 1s ease-in-out;
    clip-path: inset(0% 0% 0% 0%);
}

#cover.hide {
    clip-path: inset(100% 0% 0% 0%);
}




#invitation-content {
    opacity: 1;
    position: relative;
    z-index: 1;
}

#open-invitation {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-image: url('../assets/img/background.png');
    background-size: contain;
    background-position: top center;
    background-repeat: repeat-y;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(66, 54, 54, 0.1);
    padding: 20px;
    overflow: hidden;
}


.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.756);
    z-index: 1;
}

.main-container>* {
    position: relative;
    z-index: 2;
}


.card-container {
    width: 100%;
    text-align: center;
}

.card-page {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
    justify-content: center !important;
    box-shadow: 0 4px 8px rgba(46, 48, 90, 0.2);
}


/* Cover */
.flower-1 {
    position: absolute;
    top: -43px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 1;
    width: 52%;
    animation: slideIn 2s ease-out, swing 5s infinite ease-in-out 2s;
}

.flower-1-1 {
    position: absolute;
    bottom: -45px;
    left: 6%;
    transform: translateX(-50%);
    z-index: 2;
    width: 56%;
    animation: slideInFromLeft 2s ease-out, swing 5s infinite ease-in-out 2s;
}

.flower-cover {
    position: absolute;
    top: -1px !important;
    right: 0%;
    transform: translateX(-50%);
    width: 12em !important;
    animation: slideInFromLeft 2s ease-out swing 5s infinite ease-in-out 2s;
}

.mempelai {
    margin-top: 10px;
    border: solid 2px #7a8ca9;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
}

.img-mempelai {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 3;
}

.cover-text {
    color: #7a8ca9;
}

.nickname {
    font-family: 'Baliana', sans-serif;
    font-size: 2em;
    margin-top: 15px;
    color: #7a8ca9;
}

.nama-mempelai {
    font-family: 'Baliana', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.4em !important;
    color: #7a8ca9 !important;
}

.nama-mempelai-2 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 1.2em !important;
    color: #7a8ca9 !important;
}

.text-to {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    color: #7a8ca9;
}

.flower-cover-2 {
    position: absolute;
    bottom: 0px !important;
    left: 0%;
    transform: translateX(-50%);
    width: 12em !important;
}

.nama-tamu {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.open-invitation {
    background-color: #7a8ca9 !important;
    color: white !important;
    border-radius: 20px !important;
    font-size: 0.8em !important;
}

.invitation {
    display: none;
}


/* Page Home */
.bismillah {
    width: 50%;
}

.text-ayat {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #7a8ca9;
}

.arti-ayat {
    font-size: 0.8em;
    color: #7a8ca9;
    font-family: 'Quicksand', sans-serif;
}

.salam {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #7a8ca9;
}

.text-home {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    margin-bottom: 20px !important;
    color: #7a8ca9;
}

.card-page-home {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.card-page-home.show {
    opacity: 1;
    transform: translateY(0);
}

/* Bride & Groom */
.bride {
    padding: 10px;
    box-shadow: 2px 3px 6px 1px #7a8ca9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bride:hover {
    transform: scale(1.03);
}

.bride img {
    width: 100%;
}

.flower-3 {
    position: absolute;
    top: 229px !important;
    left: 83%;
    transform: translateX(-50%);
    width: 130px !important;
    animation: slideIn 2s ease-out, swing 5s infinite ease-in-out 2s;
}

.cincin {
    text-align: center;
    width: 20% !important;
}

.flower-4 {
    position: absolute;
    bottom: 32px;
    left: 17%;
    transform: translateX(-50%);
    z-index: 2;
    width: 130px !important;
    animation: slideInFromLeft 2s ease-out, swing 5s infinite ease-in-out 2s;
}


/* Page Date */
.title-box {
    border: #93a2ba solid 3px;
    box-sizing: border-box;
    border-radius: 50px;
}

.flower-title {
    position: absolute;
    bottom: -15px !important;
    left: 6%;
    transform: translateX(-50%);
    width: 26% !important;
    animation: swing 5s infinite ease-in-out 2s;
}

.flower-title-2 {
    position: absolute;
    top: -22px !important;
    left: 89%;
    transform: translateX(-50%);
    width: 25% !important;
    animation: swing 5s infinite ease-in-out 2s;
}

.text-title-2 {
    color: #7a8ca9;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    font-size: 1.2em;
    margin-top: 15px;
}

.text-title {
    color: #7a8ca9;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    font-size: 1.2em;
    margin-top: 15px;
}

.box-date {
    background-color: #7a8ca9;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 1.3em;
    margin-top: 20px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-date {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

.box-text {
    color: #7a8ca9;
    font-size: 0.9em;
    margin-top: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.card-the-date {
    background-color: #7a8ca9;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
}

.title-akad {
    font-family: 'Baliana', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    font-style: italic;
    text-align: left;
}

.akad h6 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em !important;
}

.akad {
    text-align: left;
}

.resepsi h6 {
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em !important;
}

.resepsi {
    text-align: right;
}

.title-resepsi {
    font-family: 'Baliana', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    font-style: italic;
    text-align: right;
}

.flower-box {
    position: absolute;
    top: -1px !important;
    right: -20%;
    transform: translateX(-50%);
    width: 40% !important;
    animation: slideInFromLeft 2s ease-out;
}

.flower-box-2 {
    position: absolute;
    bottom: -1px !important;
    left: 22%;
    transform: translateX(-50%);
    width: 45% !important;
    animation: slideIn 2s ease-out;
}

.open-maps {
    background-color: #f8f8f8 !important;
    color: #7a8ca9 !important;
    font-size: 0.8em !important;
    font-weight: bold !important;
    border-radius: 60px !important;
    letter-spacing: 1px;
}

.img-mempelai-3 {
    /* border: #93a2ba solid 2px; */
    box-sizing: border-box;
    box-shadow: 0 4px 8px #7a8ca9;

}

.img-mempelai-4 img {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px !important;
    box-shadow: 0 4px 8px #7a8ca9;
}

.img-mempelai-3 img {
    width: 100%;
    /* padding: 10px; */
}

.card-story {
    background-color: #7a8ca9;
    margin: 0px;
    border-radius: 10px;
    height: auto;
}

.title-story {
    color: white;
    font-family: 'Baliana', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: left;
}

.title-story-2 {
    color: white;
    font-family: 'Baliana', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: right;
}

/* Page Galery */
.galery {
    column-count: 2;
    column-gap: 9px;
    margin-top: 15px;
}

.img-container {
    break-inside: avoid;
    margin-bottom: 5px;
}

.img-galery {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.5);
}

/*  modal pop up foto */
/* .mfp-content {
    max-width: 100%;
    margin: 0 auto;
}

.mfp-img {
    max-width: 100%;
    height: auto;
} */

/* RSVP & Wishes */
.form-control {
    font-size: 0.9em !important;
    color: #93a2ba !important;
    font-family: 'Quicksand', sans-serif;
    height: 45px !important;
}

.flower-box-7 {
    position: absolute;
    bottom: 0px !important;
    left: 16%;
    transform: translateX(-50%);
    width: 35% !important;
    animation: slideIn 2s ease-out;
}

.flower-box-6 {
    position: absolute;
    top: 0px !important;
    left: 84%;
    transform: translateX(-50%);
    width: 35% !important;
    animation: slideInFromLeft 2s ease-out;
}

.your-wish {
    margin-top: 20px;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    color: #7a8ca9;
    text-align: left;
    box-shadow: 3px 3px 16px 2px #93a2ba;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 40vh;
    overflow: auto;
}

.your-wish:hover {
    transform: scale(1.02);
}

/* Page Gift */
.btn-gift {
    background-color: #7a8ca9 !important;
    font-size: 13px !important;
    font-family: 'Quicksand', sans-serif !important;
    color: white !important;
    border-radius: 20px !important;
}

/* ATM Card */
.atm-card {
    /* background-color: rgba(122, 140, 169, 0.6); */
    color: #7a8ca9;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #7a8ca9;
    text-align: center;
    box-sizing: border-box;

}


.card-title {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 15px;
    text-align: left;
}

.card-details {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 15px;
    text-align: left;
    font-size: 0.9em;
}

.card-details p {
    margin: 5px 0;
    text-align: left;
}

.card-details span {
    font-weight: bold;
}

.btn-salin {
    color: #7a8ca9;
    border: 1px solid #7a8ca9 !important;
    background-color: white !important;
    border: none;
    /* margin: 5px; */
    border-radius: 10px;
    padding: 7px;
    font-size: 0.7em;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}


.toast {
    position: fixed;
    bottom: 400px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    color: #7a8ca9 !important;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold !important;
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    opacity: 0;
    width: 70% !important;
    transition: opacity 0.5s;
    z-index: 1000;
    border: #7a8ca9 !important;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
}

/* Footer */
.card-footer {
    background-color: rgba(147, 162, 186, 0.8) !important;
    color: white !important;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(46, 48, 90, 0.2);

}

.card-footer i {
    font-size: 1.4em;
}

.nama-undangan {
    font-size: 2em;
    font-family: 'Baliana', sans-serif;
}

@media only screen and (min-width: 768px) {
    .main-container {
        max-width: 380px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 480px) {
    .main-container {
        max-width: 380px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1120px) {
    .main-container {
        max-width: 380px;
        margin: 0 auto;
    }
}

/* animasi bergerak */
@keyframes swing {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    25% {
        transform: translateX(-47%) rotate(3deg);
    }

    50% {
        transform: translateX(-50%) rotate(0deg);
    }

    75% {
        transform: translateX(-53%) rotate(-3deg);
    }

    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}

/* animasi masuk dari kanan ke kiri  */
@keyframes slideIn {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* animasi masuk dari kiri ke kanan */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-50%);
    }
}
